<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>axios-simple-example</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <button type="button" onclick="connectTest();">Connection Button</button>

    <script>
        function connectTest() {
            axios
            .post('http://localhost:3000/connect',{
                data:'dataTest',
            })
            .then((res)=>{
                console.log(res);
            });
        }
    </script>
</body>
</html>